*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

/* experience */
#experience{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#experience-canvas {
    width: 100%;
    height: 100%;
}

/* Utilities */
.hidden{
    display: none;
} 

/* modal */
.modal {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    background-color: #bd8b6d ;
    border: 2px solid #ede1da;
    color: #ede1da;
}
.modal-wrapper{
    padding: 12px;
}

.modal-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ui-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*stacking*/
    z-index: 10;

    /*click-through behavior */
    pointer-events: none;

    color: #ede1da;
    padding: 30px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/*re-enable clicks for direct child elements inside the overlay */
.ui-overlay > * {
    pointer-events: auto;
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFE484;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    transition: opacity 1s ease;
}

.loading-text{
    font-family: "Pixelify Sans", sans-serif;
}

#toggle-buttons{
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20;

    display:flex;
    flex-direction: row;
    gap: 10px;
}

.day-night-button {
    width: 40px;
    height: 40px;
    justify-content: center;
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(71, 51, 21, 0.1);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    
    /* Day Mode (default) styles */
    background-color: #FFE484;
    color: #ffffff;
    transition: background-color 0.3s ease; /* Keep the transition */
}

/* Add this to remove the default outline and add a custom focus style */
.day-night-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(211, 158, 89, 0.7); /* A soft, yellow glow */
}

.day-night-button.night-mode:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(19, 24, 98, 0.7);
}

/* Day Mode Hover */
.day-night-button:hover {
    background-color: #d39e59;
}

/* Night Mode styles */
.day-night-button.night-mode {
    background-color: #546bab;
    color: #ffffffa8;
}


/* Night Mode Hover */
.day-night-button.night-mode:hover {
    background-color: #131862;
}